.*
*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
npm-debug.log

.babelrc
CONTRIBUTING.md
node_modules
coverage
resources
src
dist
log/mongo-mock.db.js
log/all-logs-readable.log
*.js.flow
esdoc.json

